@model IEnumerable<HomeCareApp.Core.ViewModels.UserListView>
@{
    ViewData["Title"] = "Index";
}

<h2>List of Users</h2>

<table id="users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Fullname</th>
            <th>UserName</th>
            <th>Role Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Active</th>
            <th colspan="2">Actions</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td><a asp-controller="Account" asp-action="Details" asp-route-id="@user.UserId">@user.Fullname</a> </td>
                <td>@user.UserName</td>
                <td>@user.Role</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@(user.IsActive ? "No" : "Yes")</td>
                <th class="text-center"><a asp-controller="Account" asp-action="Delete" asp-route-id="@user.UserId" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></th>
                <th class="text-center"><a asp-controller="Account" asp-action="EditUser" asp-route-id="@user.UserId" class="btn btn-danger"><i class="glyphicon glyphicon-pencil"></i></a></th>

            </tr>
        }
    </thead>
    <tbody></tbody>
</table>


